html {
  --paddingNormal: 16px;
  --paddingLarge: 24px;
  --layoutWidth: calc(100vw - var(--paddingNormal)*2);
  --layoutWidthMax: 1080px;
  --bgColor:  #f0f0eb;
  --accentColor: #ebd55b;
}

@media (min-width: 1112px) {
  html {
    --layoutWidth: var(--layoutWidthMax);
  }
}


body, input, button {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  background: var(--bgColor);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  padding-top: var(--paddingLarge);
}

form {
  background: white;
  padding: var(--paddingLarge);
  text-align: center;
}

label {
  font-size: 2rem;
  display: block;
}

input {
  max-width: var(--layoutWidth);
  font-size: 2rem;
  margin-top: var(--paddingNormal);
  padding: var(--paddingNormal) var(--paddingLarge);
}

button {
  margin-top: var(--paddingNormal);
  appearance: none;
  border: 0;
  font-weight: bold;
  font-size: 2rem;
  padding: var(--paddingNormal) var(--paddingLarge);
  background-color: var(--accentColor);
}

.layoutContainer {
  width: 100%;
  max-width: var(--layoutWidth);
  margin: 0 auto;
}